body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title{
	margin-top: 20px ;
}
.subtitle{
	margin-bottom: 20px ;
}
/* 移动端控制按钮样式 */
#mobile-controls {
	display: flex;
	position: fixed;
	bottom: 0;
	z-index: 1000;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 20px;
}
.control-container{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.control-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid #fff;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	background: rgba(0, 123, 255, 0.7);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	user-select: none;
	font-size: 32px;
	color: white;
	transition: all 0.2s;
	-webkit-tap-highlight-color: transparent;
}
.control-btn:active {
	background: rgba(0, 123, 255, 1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transform: scale(0.95);
}
.start-btn {
	padding: 15px 40px;
	border: 3px solid #fff;
	border-radius: 10px;
	background: rgba(40, 167, 69, 0.9);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	user-select: none;
	font-weight: bold;
	font-size: 20px;
	color: white;
}
.start-btn:active {
	background: rgba(40, 167, 69, 1);
	transform: translate(-50%, -50%) scale(0.95);
}
.start-btn.hidden {
	display: none;
}
.restart-btn{
	margin-bottom: 20px;
	padding: 15px 40px;
	border: 3px solid #fff;
	border-radius: 10px;
	background: rgba(220, 53, 69, 1);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	user-select: none;
	font-weight: bold;
	font-size: 20px;
	color: white;
}
.restart-btn:hover {
	background: rgba(220, 53, 69, 1);
	box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
}
.restart-btn:active {
	background: rgba(200, 35, 51, 1);
}
.restart-btn.hidden {
	display: none;
}
